#hpc-main {
  position: relative;
  width: 1920px;
  height: 1080px;

  background-image: url('../assets/images/bg.png');
  overflow: hidden;
}

#hpc-main .car-normal {
  position: absolute;
  width: 1194px;
  height: 1080px;
  left: calc(50% - 1194px / 2);
  top: 0px;

  /* background: url('../assets/images/AD_CAR.webp'); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    left 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

#hpc-main .car-normal.shrink {
  left: calc(1920px - 1194px - 0px);
}

#hpc-main .car-normal.ad-mode {
  background-image: url('../assets/images/AD_CAR.webp');
}

#hpc-main .car-normal.md-mode {
  background-image: url('../assets/images/MD_CAR.webp');
}

#hpc-main .car-normal.parking-mode {
  background-image: url('../assets/images/Parking_CAR.png');
}

#hpc-main .car-normal .toaster {
  /* popup */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 60px;

  position: absolute;
  /* width: 631px; */
  height: 117px;
  left: 281.5px;
  top: 238.75px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
  display: flex;
  align-items: center;

  color: #1d1d1d;

  background: #ffffff;
  box-shadow: 0px 3px 18px rgba(71, 90, 243, 0.55);
  border-radius: 36px;
}

#hpc-main .battery-indicator {
  position: absolute;
  width: 159px;
  height: 450.5px;
  right: 60px;
  top: 45px;

  background-image: url('../assets/images/battery.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3000;
  outline: none;
  /* outline은 인라인 스타일로 관리 */
}

#hpc-main .battery-indicator .battery-percent {
  /* 52% */

  width: 78px;
  height: 43px;
  left: 58px;
  top: 292px;
  position: absolute;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  /* identical to box height */
  text-align: center;

  color: #1d1d1d;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

#hpc-main .battery-indicator .battery-distance-area {
  /* unit */

  width: 76.5px;
  height: 29px;

  right: 41px;
  bottom: 38px;
  position: absolute;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

#hpc-main .battery-indicator .battery-distance-area .distance {
  /* 195 */

  position: absolute;
  width: 41px;
  height: 29px;
  left: 0px;
  top: 0px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: right;

  color: #1d1d1d;
}

#hpc-main .battery-indicator .battery-distance-area .unit {
  /* km */

  position: absolute;
  width: 34px;
  height: 29px;
  left: 42.5px;
  top: 0px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: right;

  color: #1d1d1d;
}

#hpc-main .ai-button {
  /* ai_button */

  position: absolute;
  width: 275px;
  height: 291px;
  left: 142px;
  top: 705px;
  background-image: url('../assets/images/btn-ai.png');
  cursor: pointer;
  transition: transform 0.1s ease, opacity 0.2s ease;
}

#hpc-main .ai-button:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

#hpc-main .ai-button:active {
  transform: scale(0.95);
  opacity: 0.8;
}

#hpc-main .moving-car {
  position: absolute;
  z-index: 2000;
  pointer-events: none;
  transition: none;
  object-fit: contain;
}
