#hpc-main {
  position: relative;
  width: 1920px;
  height: 1080px;

  background-image: url('../assets/images/bg.png');
  overflow: hidden;
}

#hpc-main .car-normal {
  position: absolute;
  width: 1194px;
  height: 1080px;
  left: calc(50% - 1194px / 2);
  top: 0px;

  background: url('../assets/images/AD_CAR.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    left 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

#hpc-main .car-normal.shrink {
  /* AiWindow width: 726px */
  /* 726px만큼 오른쪽으로 이동하고, 좌우로 축소 */
  left: calc(50% - 1194px / 2 + 363px);
  transform: scaleX(0.7);
}

#hpc-main .ai-button {
  /* ai_button */

  position: absolute;
  width: 275px;
  height: 291px;
  left: 142px;
  top: 705px;
  background-image: url('../assets/images/btn-ai.png');
  cursor: pointer;
  transition: transform 0.1s ease, opacity 0.2s ease;
}

#hpc-main .ai-button:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

#hpc-main .ai-button:active {
  transform: scale(0.95);
  opacity: 0.8;
}
