#ai-window {
  box-sizing: border-box;

  position: absolute;
  width: 726px;
  height: 1080px;
  left: -726px;
  top: 0px;

  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 22.5px;
  backdrop-filter: blur(10px);

  transition: left 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1000;
}

#ai-window.open {
  left: 0px;
}

#ai-window .close-button {
  /* delete_icon */

  position: absolute;
  width: 60px;
  height: 60px;
  left: 636px;
  top: 30px;

  opacity: 0.5;
  background-image: url('../assets/images/btn-close.png');
}

#ai-window .piccolo-rule {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;

  position: absolute;
  width: 546px;
  height: 401px;
  left: 90px;
  top: 60px;
}

#ai-window .piccolo-rule .title-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 5px;

  /* width: 255px; */
  height: 45px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 37.5px;
  line-height: 45px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.75px;

  color: #660fb3;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#ai-window .piccolo-rule .rule-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  gap: 20px;

  width: 546px;
  height: 300px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

#ai-window .piccolo-rule .rule-area .rule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 20px;
  gap: 10px;
  isolation: isolate;

  width: 546px;
  height: 90px;
  border-radius: 30px;

  background-image: url('../assets/images/rule-bg.png');
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

#ai-window .piccolo-rule .rule-area .rule .text {
  margin: 0 0 0 30px;
  /* width: 204px; */
  height: 36px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */
  display: flex;
  align-items: center;

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

#ai-window .divider {
  position: absolute;
  width: 621px;
  height: 0.75px;
  left: calc(50% - 621px / 2);
  top: 480px;

  background: rgba(29, 29, 29, 0.2);
}

#ai-window .piccolo-agent {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  /* gap: 15px; */

  position: absolute;
  width: 546px;
  /* height: 495px; */
  min-height: 502px;
  left: 90px;
  top: 525px;
  /* bottom: 52px; */
}

#ai-window .piccolo-agent .title-area {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;

  width: auto;
  height: 45px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 37.5px;
  line-height: 45px;
  /* identical to box height */
  text-align: left;
  letter-spacing: 0.75px;

  color: #660fb3;
}

#ai-window .piccolo-agent .ai-area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 15px;

  width: 546px;
  /* height: 500px; */

  flex: none;
  order: 1;
  flex-grow: 0;
}

#ai-window .piccolo-agent .ai-symbol {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 15px;

  width: 546px;
  height: 173px;

  background-image: url('../assets/images/btn-ai-in-window.png');
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  position: relative;
  top: -13px;
}

#ai-window .piccolo-agent .chat-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 9px;

  width: 546px;
  height: 300px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
